<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069274615685-64iuhct2naij0vkanhpmoa7ibqogkhls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069274615685-64iuhct2naij0vkanhpmoa7ibqogkhls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1069274615685-upjsnirb19ino458rpme29j6ru3cjmo4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB48Hvz2nsqcptt5Ykd_MM2yDjJZaLnsRw</string>
	<key>GCM_SENDER_ID</key>
	<string>1069274615685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.markmyanswer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>marking-ca4ac</string>
	<key>STORAGE_BUCKET</key>
	<string>marking-ca4ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069274615685:ios:2348f50f59bd54af1dfeec</string>
</dict>
</plist>